@charset "UTF-8";
/* Variables */
/* mixin */
/* Extend */
.spanPresentacion, .tarjetasCategorias .categoriaGridInfo .contenedorSpan .spanNum, .presentacion .presentacionGrid .g1 .categoriaGridInfo .contenedorSpan .spanNum, .presentacion .presentacionGrid .g2 .categoriaGridInfo .contenedorSpan .spanNum, .presentacion .presentacionGrid .g3 .categoriaGridInfo .contenedorSpan .spanNum, .presentacion .presentacionGrid .g4 .categoriaGridInfo .contenedorSpan .spanNum, .presentacion .presentacionGrid .g5 .categoriaGridInfo .contenedorSpan .spanNum, .tarjetasCategorias .categoriaGridInfo .contenedorSpan .spanProduct, .presentacion .presentacionGrid .g1 .categoriaGridInfo .contenedorSpan .spanProduct, .presentacion .presentacionGrid .g2 .categoriaGridInfo .contenedorSpan .spanProduct, .presentacion .presentacionGrid .g3 .categoriaGridInfo .contenedorSpan .spanProduct, .presentacion .presentacionGrid .g4 .categoriaGridInfo .contenedorSpan .spanProduct, .presentacion .presentacionGrid .g5 .categoriaGridInfo .contenedorSpan .spanProduct {
  font-weight: 400;
  color: #575758;
  display: block; }

.tarjetasCategorias .categoriaGridInfo, .presentacion .presentacionGrid .g1 .categoriaGridInfo, .presentacion .presentacionGrid .g2 .categoriaGridInfo, .presentacion .presentacionGrid .g3 .categoriaGridInfo, .presentacion .presentacionGrid .g4 .categoriaGridInfo, .presentacion .presentacionGrid .g5 .categoriaGridInfo {
  height: 100%; }
  .tarjetasCategorias .categoriaGridInfo h2, .presentacion .presentacionGrid .g1 .categoriaGridInfo h2, .presentacion .presentacionGrid .g2 .categoriaGridInfo h2, .presentacion .presentacionGrid .g3 .categoriaGridInfo h2, .presentacion .presentacionGrid .g4 .categoriaGridInfo h2, .presentacion .presentacionGrid .g5 .categoriaGridInfo h2 {
    font-size: 24px; }
  .tarjetasCategorias .categoriaGridInfo .contenedorSpan, .presentacion .presentacionGrid .g1 .categoriaGridInfo .contenedorSpan, .presentacion .presentacionGrid .g2 .categoriaGridInfo .contenedorSpan, .presentacion .presentacionGrid .g3 .categoriaGridInfo .contenedorSpan, .presentacion .presentacionGrid .g4 .categoriaGridInfo .contenedorSpan, .presentacion .presentacionGrid .g5 .categoriaGridInfo .contenedorSpan {
    margin-top: 15px; }
    .tarjetasCategorias .categoriaGridInfo .contenedorSpan .spanNum, .presentacion .presentacionGrid .g1 .categoriaGridInfo .contenedorSpan .spanNum, .presentacion .presentacionGrid .g2 .categoriaGridInfo .contenedorSpan .spanNum, .presentacion .presentacionGrid .g3 .categoriaGridInfo .contenedorSpan .spanNum, .presentacion .presentacionGrid .g4 .categoriaGridInfo .contenedorSpan .spanNum, .presentacion .presentacionGrid .g5 .categoriaGridInfo .contenedorSpan .spanNum {
      font-size: 25px;
      display: inline-block; }
    .tarjetasCategorias .categoriaGridInfo .contenedorSpan .spanProduct, .presentacion .presentacionGrid .g1 .categoriaGridInfo .contenedorSpan .spanProduct, .presentacion .presentacionGrid .g2 .categoriaGridInfo .contenedorSpan .spanProduct, .presentacion .presentacionGrid .g3 .categoriaGridInfo .contenedorSpan .spanProduct, .presentacion .presentacionGrid .g4 .categoriaGridInfo .contenedorSpan .spanProduct, .presentacion .presentacionGrid .g5 .categoriaGridInfo .contenedorSpan .spanProduct {
      font-size: 20px;
      display: inline-block; }
  .tarjetasCategorias .categoriaGridInfo a, .presentacion .presentacionGrid .g1 .categoriaGridInfo a, .presentacion .presentacionGrid .g2 .categoriaGridInfo a, .presentacion .presentacionGrid .g3 .categoriaGridInfo a, .presentacion .presentacionGrid .g4 .categoriaGridInfo a, .presentacion .presentacionGrid .g5 .categoriaGridInfo a {
    position: absolute;
    bottom: 30px;
    left: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    border: 1px solid #d66140;
    color: #d66140;
    background: #fff; }
    .tarjetasCategorias .categoriaGridInfo a:hover, .presentacion .presentacionGrid .g1 .categoriaGridInfo a:hover, .presentacion .presentacionGrid .g2 .categoriaGridInfo a:hover, .presentacion .presentacionGrid .g3 .categoriaGridInfo a:hover, .presentacion .presentacionGrid .g4 .categoriaGridInfo a:hover, .presentacion .presentacionGrid .g5 .categoriaGridInfo a:hover {
      background: #d66140;
      color: #fff; }

.detalleNaranja, .presentacion .presentacionGrid .categoriasGrid h2 div {
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 50px;
  background: #d66140; }

.sombra, .producto:hover, .presentacion .presentacionGrid .categoriasGrid:hover {
  box-shadow: 0 5px 15px #00000020; }

.subtitulo, .sectionProductos h3, .sectionCarrito h3 {
  color: #575758;
  margin: 0 0 40px 0;
  font-size: 20px;
  text-transform: uppercase; }

@font-face {
  font-family: "Rubik";
  src: url("../fuentes/Rubik-VariableFont_wght.ttf"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik"; }
  *::selection {
    background: #00000020; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: #f5f5f5; }

header {
  width: 100%;
  border-bottom: 1px solid #00000020;
  text-transform: uppercase;
  background: #fff;
  height: 70px; }
  header .headerCenter {
    width: 1300px;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .headerCenter .logoHeader {
      width: 150px; }
      header .headerCenter .logoHeader a {
        display: block;
        width: 100%; }
        header .headerCenter .logoHeader a img {
          object-fit: contain;
          width: 100%; }
    header .headerCenter .headerNav {
      height: 100%;
      display: flex;
      align-items: center; }
      header .headerCenter .headerNav .actual {
        color: #d66140;
        fill: #d66140; }
      header .headerCenter .headerNav nav {
        display: flex;
        align-items: center; }
        header .headerCenter .headerNav nav ul {
          display: flex;
          align-items: center; }
          header .headerCenter .headerNav nav ul li {
            display: block;
            height: 29px; }
            header .headerCenter .headerNav nav ul li a {
              display: block;
              text-align: center;
              margin: 0 10px;
              color: #575758;
              padding: 5px;
              border-radius: 5px; }
              header .headerCenter .headerNav nav ul li a:hover {
                background: #00000010;
                fill: #d66140;
                color: #d66140; }
                header .headerCenter .headerNav nav ul li a:hover i,
                header .headerCenter .headerNav nav ul li a:hover svg {
                  fill: #d66140;
                  color: #d66140; }
        header .headerCenter .headerNav nav .opcionesNav li,
        header .headerCenter .headerNav nav .opcionesNav a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 29px;
          position: relative;
          margin: 0 3px;
          color: #575758; }
          header .headerCenter .headerNav nav .opcionesNav li span,
          header .headerCenter .headerNav nav .opcionesNav a span {
            position: absolute;
            top: 35px;
            left: 50%;
            transform: translateX(-50%);
            display: none;
            font-size: 14px; }
          header .headerCenter .headerNav nav .opcionesNav li:hover span,
          header .headerCenter .headerNav nav .opcionesNav a:hover span {
            display: block;
            color: #fff;
            background: #00000060;
            border-radius: 5px;
            padding: 3px 5px; }
        header .headerCenter .headerNav nav .opcionesNav #lupa {
          cursor: pointer; }
          header .headerCenter .headerNav nav .opcionesNav #lupa i {
            -webkit-text-stroke: .5px #fff;
            font-size: 18px; }
          header .headerCenter .headerNav nav .opcionesNav #lupa:hover {
            background: #00000010;
            border-radius: 5px; }
            header .headerCenter .headerNav nav .opcionesNav #lupa:hover i {
              color: #d66140; }
        header .headerCenter .headerNav nav .opcionesNav #carrito span {
          transform: translateX(-50%); }
        header .headerCenter .headerNav nav .opcionesNav #carrito svg {
          transform: translateY(-1px) rotateY(180deg); }
        header .headerCenter .headerNav nav .opcionesNav #usuario {
          display: none;
          cursor: pointer;
          font-size: 18px; }
          header .headerCenter .headerNav nav .opcionesNav #usuario:hover {
            background: #00000010;
            border-radius: 5px; }
            header .headerCenter .headerNav nav .opcionesNav #usuario:hover i {
              color: #d66140; }
      header .headerCenter .headerNav .opcionesCuenta {
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: end; }
        header .headerCenter .headerNav .opcionesCuenta div {
          margin: 0 5px; }
          header .headerCenter .headerNav .opcionesCuenta div a {
            display: block;
            color: #d66140;
            padding: 5px 10px;
            border-radius: 5px; }
            header .headerCenter .headerNav .opcionesCuenta div a:hover {
              background: #00000010; }
          header .headerCenter .headerNav .opcionesCuenta div:nth-child(2) a {
            padding: 5px 10px;
            border-radius: 5px;
            position: absolute;
            border: 1px solid #d66140;
            color: #fff;
            background: #d66140;
            position: relative; }
            header .headerCenter .headerNav .opcionesCuenta div:nth-child(2) a:hover {
              color: #d66140;
              background: #fff; }

footer {
  width: 100%;
  padding: 20px 0;
  background: #22222c; }
  footer .footerCenter {
    width: 1300px;
    margin: auto; }
    footer .footerCenter .infoFooter {
      display: inline-block;
      width: 80%;
      text-align: center;
      margin: 30px 10%;
      color: #cecece;
      font-size: 15px; }
    footer .footerCenter .redirecciones {
      margin: 30px 0;
      display: flex;
      justify-content: space-evenly; }
      footer .footerCenter .redirecciones h3 {
        display: inline-block;
        color: #cecece;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: .5px solid #3d3d3d;
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase; }
      footer .footerCenter .redirecciones .logoFooter {
        height: 50px;
        width: 200px; }
        footer .footerCenter .redirecciones .logoFooter a {
          display: block;
          width: 100%; }
          footer .footerCenter .redirecciones .logoFooter a img {
            object-fit: contain;
            width: 100%; }
      footer .footerCenter .redirecciones .redireccionesCategorias li,
      footer .footerCenter .redirecciones .redireccionesAyuda li {
        margin: 5px 0; }
        footer .footerCenter .redirecciones .redireccionesCategorias li a,
        footer .footerCenter .redirecciones .redireccionesAyuda li a {
          color: #aaa; }
          footer .footerCenter .redirecciones .redireccionesCategorias li a:hover,
          footer .footerCenter .redirecciones .redireccionesAyuda li a:hover {
            color: #fff; }
      footer .footerCenter .redirecciones .redireccionesRedes ul {
        display: flex; }
        footer .footerCenter .redirecciones .redireccionesRedes ul li {
          margin: 0 5px; }
          footer .footerCenter .redirecciones .redireccionesRedes ul li a {
            display: flex;
            height: 35px;
            width: 35px;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 1px solid #aaa; }
            footer .footerCenter .redirecciones .redireccionesRedes ul li a i {
              color: #aaa;
              font-size: 18px; }
            footer .footerCenter .redirecciones .redireccionesRedes ul li a:hover {
              background: #fff;
              border: 1px solid #fff; }
              footer .footerCenter .redirecciones .redireccionesRedes ul li a:hover i {
                color: #22222c; }

.producto {
  display: inline-block;
  background: #fff;
  width: 240px;
  border-radius: 5px; }
  .producto .imgProducto {
    height: 220px;
    width: 240px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .producto .imgProducto img {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%; }
  .producto .infoProducto {
    width: 240px;
    height: 100px;
    padding: 10px;
    border-top: 1px solid #eee; }
    .producto .infoProducto h2 {
      font-size: 16px;
      color: #575758;
      font-weight: 400; }
    .producto .infoProducto h5 {
      font-size: 24px;
      color: #22222c;
      margin: 10px 0; }

/* Primera sección */
.presentacion {
  width: 1300px;
  margin: 0 auto 60px; }
  .presentacion h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0;
    color: #575758; }
  .presentacion .presentacionGrid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    grid-template-areas: "cocina mate regaleria" "baño   mate juguete"; }
    .presentacion .presentacionGrid .categoriasGrid {
      position: relative;
      overflow: hidden;
      border-radius: 5px;
      background: #fff;
      padding: 30px; }
      .presentacion .presentacionGrid .categoriasGrid h2 {
        position: relative;
        color: #22222c;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 900; }
      .presentacion .presentacionGrid .categoriasGrid img {
        position: absolute;
        pointer-events: none; }
    .presentacion .presentacionGrid .g1 {
      grid-area: cocina; }
      .presentacion .presentacionGrid .g1 img {
        top: 35px;
        right: -10px; }
    .presentacion .presentacionGrid .g2 {
      grid-area: mate; }
      .presentacion .presentacionGrid .g2 .categoriaGridInfo .contenedorSpan .spanNum {
        font-size: 35px;
        display: block; }
      .presentacion .presentacionGrid .g2 .categoriaGridInfo .contenedorSpan .spanProduct {
        font-size: 30px; }
      .presentacion .presentacionGrid .g2 a {
        font-size: 20px; }
      .presentacion .presentacionGrid .g2 img {
        transform: rotateY(180deg);
        top: 10px;
        right: -20px; }
    .presentacion .presentacionGrid .g3 {
      grid-area: regaleria; }
      .presentacion .presentacionGrid .g3 img {
        top: 10px;
        right: 15px; }
    .presentacion .presentacionGrid .g4 {
      grid-area: baño; }
      .presentacion .presentacionGrid .g4 img {
        top: 40px;
        right: 10px; }
    .presentacion .presentacionGrid .g5 {
      grid-area: juguete; }
      .presentacion .presentacionGrid .g5 img {
        top: 5px;
        right: -25px; }

/* Seccion productos */
.sectionProductos {
  width: 1300px;
  margin: 60px auto; }
  .sectionProductos .contenedorProductos {
    display: flex;
    justify-content: space-between; }

/* Seccion marcas */
.sectionMarcas {
  margin: 0 auto;
  width: 1300px; }
  .sectionMarcas .divMarcas {
    margin: 40px 0;
    border-radius: 5px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    position: relative; }
    .sectionMarcas .divMarcas h3 {
      text-transform: uppercase;
      color: #575758;
      font-size: 25px;
      margin: 0 0;
      text-align: center;
      position: relative;
      z-index: 100; }
    .sectionMarcas .divMarcas .contenedorMarcas {
      display: flex; }
      .sectionMarcas .divMarcas .contenedorMarcas a {
        display: inline-block;
        width: 120px;
        height: 120px;
        margin: 0 20px; }
        .sectionMarcas .divMarcas .contenedorMarcas a img {
          object-fit: contain;
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 100; }
      .sectionMarcas .divMarcas .contenedorMarcas .rigolleau img {
        top: -10px; }
      .sectionMarcas .divMarcas .contenedorMarcas .carol img {
        top: 5px; }
      .sectionMarcas .divMarcas .contenedorMarcas .tramontina img {
        top: 5px; }
    .sectionMarcas .divMarcas .circulo {
      border: 15px solid #d66140;
      border-radius: 50%;
      position: absolute;
      z-index: 0;
      height: 150px;
      width: 150px; }
    .sectionMarcas .divMarcas .c1 {
      left: -70px;
      top: 50px; }
    .sectionMarcas .divMarcas .c2 {
      left: 420px;
      top: -125px; }
    .sectionMarcas .divMarcas .c3 {
      right: -80px;
      top: 70px; }

.sectionCarrito {
  width: 1300px;
  margin: 60px auto; }
  .sectionCarrito .contenedorPedidoCarrito {
    display: none;
    justify-content: space-between; }
    .sectionCarrito .contenedorPedidoCarrito .carrito {
      width: 1000px;
      border-radius: 5px; }
      .sectionCarrito .contenedorPedidoCarrito .carrito .contenedorCheck {
        position: relative;
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .sectionCarrito .contenedorPedidoCarrito .carrito .contenedorCheck .efectoCheck {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: radial-gradient(transparent 1px, #1872ff);
          opacity: 0;
          height: 0px;
          width: 0px;
          border-radius: 50%;
          z-index: 1;
          pointer-events: none; }
        .sectionCarrito .contenedorPedidoCarrito .carrito .contenedorCheck input[type="checkbox"] {
          height: 17px;
          width: 17px;
          position: relative;
          z-index: 10; }
          .sectionCarrito .contenedorPedidoCarrito .carrito .contenedorCheck input[type="checkbox"]:checked + .efectoCheck {
            animation: seleccionado 1s 1; }

@keyframes seleccionado {
  0% {
    opacity: .6; }
  1% {
    height: 30px;
    width: 30px; }
  100% {
    height: 0;
    width: 0;
    opacity: 0; } }
      .sectionCarrito .contenedorPedidoCarrito .carrito .opcionesEliminar {
        background: #fff;
        margin-bottom: 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 10px 20px; }
        .sectionCarrito .contenedorPedidoCarrito .carrito .opcionesEliminar button {
          margin-left: 15px;
          border: none;
          background: none;
          color: #575758;
          font-size: 16px;
          padding: 5px;
          border-radius: 5px;
          cursor: not-allowed;
          opacity: .6; }
          .sectionCarrito .contenedorPedidoCarrito .carrito .opcionesEliminar button:hover {
            background: #00000010; }
      .sectionCarrito .contenedorPedidoCarrito .carrito .contenedorProductosCarrito {
        padding: 10px 20px;
        background: #fff;
        border-radius: 5px;
        min-height: 240px; }
        .sectionCarrito .contenedorPedidoCarrito .carrito .contenedorProductosCarrito .productoCarrito {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 100px;
          width: 100%; }
          .sectionCarrito .contenedorPedidoCarrito .carrito .contenedorProductosCarrito .productoCarrito .contenedorCarrito {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 130px; }
            .sectionCarrito .contenedorPedidoCarrito .carrito .contenedorProductosCarrito .productoCarrito .contenedorCarrito .imgCarrito {
              width: 80px;
              height: 80px; }
              .sectionCarrito .contenedorPedidoCarrito .carrito .contenedorProductosCarrito .productoCarrito .contenedorCarrito .imgCarrito img {
                object-fit: contain;
                max-width: 80px;
                max-height: 80px; }
          .sectionCarrito .contenedorPedidoCarrito .carrito .contenedorProductosCarrito .productoCarrito .productoCarritoNombre {
            width: 500px; }
            .sectionCarrito .contenedorPedidoCarrito .carrito .contenedorProductosCarrito .productoCarrito .productoCarritoNombre h2 {
              min-width: 300px;
              max-width: 350px;
              font-size: 18px;
              font-weight: 400;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis; }
            .sectionCarrito .contenedorPedidoCarrito .carrito .contenedorProductosCarrito .productoCarrito .productoCarritoNombre a {
              display: block;
              color: #575758;
              margin-top: 5px;
              font-size: 15px; }
              .sectionCarrito .contenedorPedidoCarrito .carrito .contenedorProductosCarrito .productoCarrito .productoCarritoNombre a:hover {
                color: #d66140; }
          .sectionCarrito .contenedorPedidoCarrito .carrito .contenedorProductosCarrito .productoCarrito .cantidadProductoCarrito {
            width: 150px;
            height: 40px;
            display: flex;
            align-items: center; }
            .sectionCarrito .contenedorPedidoCarrito .carrito .contenedorProductosCarrito .productoCarrito .cantidadProductoCarrito input {
              height: 100%;
              width: 50px;
              font-size: 16px;
              padding: 5px;
              outline: none;
              border: none;
              border-top: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              text-align: center; }
            .sectionCarrito .contenedorPedidoCarrito .carrito .contenedorProductosCarrito .productoCarrito .cantidadProductoCarrito button {
              height: 100%;
              font-size: 20px;
              padding: 5px;
              background: transparent;
              border: 1px solid #ccc;
              outline: none;
              cursor: pointer; }
              .sectionCarrito .contenedorPedidoCarrito .carrito .contenedorProductosCarrito .productoCarrito .cantidadProductoCarrito button:nth-child(1) {
                border-radius: 5px 0 0 5px;
                border-right: none; }
              .sectionCarrito .contenedorPedidoCarrito .carrito .contenedorProductosCarrito .productoCarrito .cantidadProductoCarrito button:nth-child(3) {
                border-radius: 0 5px 5px 0;
                border-left: none; }
          .sectionCarrito .contenedorPedidoCarrito .carrito .contenedorProductosCarrito .productoCarrito .productoCarritoPrecio {
            width: 100px; }
            .sectionCarrito .contenedorPedidoCarrito .carrito .contenedorProductosCarrito .productoCarrito .productoCarritoPrecio span {
              font-size: 20px;
              font-weight: 600; }
    .sectionCarrito .contenedorPedidoCarrito .detallePedido {
      background: #fff;
      border-radius: 5px;
      position: sticky;
      top: 5px;
      height: 300px;
      width: 290px; }
      .sectionCarrito .contenedorPedidoCarrito .detallePedido h4 {
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
        font-weight: 400; }
      .sectionCarrito .contenedorPedidoCarrito .detallePedido .contenedorImgDetalle {
        display: flex;
        justify-content: center; }
        .sectionCarrito .contenedorPedidoCarrito .detallePedido .contenedorImgDetalle div {
          height: 60px;
          width: 60px;
          border-radius: 50%;
          overflow: hidden;
          margin: 20px 0;
          box-shadow: 0 3px 10px #00000020;
          position: relative;
          background: #fff;
          display: flex;
          align-items: center;
          justify-content: center; }
          .sectionCarrito .contenedorPedidoCarrito .detallePedido .contenedorImgDetalle div img {
            object-fit: contain;
            width: 50px;
            max-height: 50px; }
        .sectionCarrito .contenedorPedidoCarrito .detallePedido .contenedorImgDetalle div:nth-child(1) {
          transform: scale(0.9);
          right: -33px;
          z-index: -1; }
        .sectionCarrito .contenedorPedidoCarrito .detallePedido .contenedorImgDetalle div:nth-child(3) {
          transform: scale(0.9);
          right: 33px;
          z-index: -1; }
      .sectionCarrito .contenedorPedidoCarrito .detallePedido h5 {
        display: block;
        width: 150px;
        text-align: center;
        margin: 10px auto;
        position: relative;
        font-size: 17px;
        font-weight: 400; }
        .sectionCarrito .contenedorPedidoCarrito .detallePedido h5 .avisoPecioEnvio i {
          color: #aaa;
          position: absolute;
          top: -5px;
          right: -10px;
          font-size: 12px; }
        .sectionCarrito .contenedorPedidoCarrito .detallePedido h5 .avisoPecioEnvio span {
          position: absolute;
          background: #00000060;
          font-weight: 300;
          width: 120px;
          color: #fff;
          padding: 2px;
          border-radius: 5px;
          font-size: 14px;
          top: -20px;
          right: -95%;
          display: none; }
        .sectionCarrito .contenedorPedidoCarrito .detallePedido h5 .avisoPecioEnvio:hover span {
          display: block; }
      .sectionCarrito .contenedorPedidoCarrito .detallePedido .btnOpcionesPedido {
        width: 200px;
        margin: 10px auto 0; }
        .sectionCarrito .contenedorPedidoCarrito .detallePedido .btnOpcionesPedido .seguirCompra {
          padding: 5px 10px;
          border-radius: 5px;
          position: absolute;
          border: 1px solid #d66140;
          border: 1px solid transparent;
          color: #d66140;
          background: #00000010;
          position: relative;
          padding: 7px 10px; }
          .sectionCarrito .contenedorPedidoCarrito .detallePedido .btnOpcionesPedido .seguirCompra:hover {
            background: #00000015; }
        .sectionCarrito .contenedorPedidoCarrito .detallePedido .btnOpcionesPedido .continuarCompra {
          padding: 5px 10px;
          border-radius: 5px;
          position: absolute;
          border: 1px solid #d66140;
          color: #fff;
          background: #d66140;
          position: relative;
          padding: 7px 10px; }
          .sectionCarrito .contenedorPedidoCarrito .detallePedido .btnOpcionesPedido .continuarCompra:hover {
            color: #d66140;
            background: #fff; }
        .sectionCarrito .contenedorPedidoCarrito .detallePedido .btnOpcionesPedido button {
          font-size: 20px;
          cursor: pointer;
          width: 200px;
          margin: 5px 0; }
  .sectionCarrito .carritoVacio {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 50px 0; }
    .sectionCarrito .carritoVacio p {
      font-size: 25px;
      color: #575758;
      text-align: center; }
    .sectionCarrito .carritoVacio a {
      margin-top: 10px;
      display: block;
      text-align: center;
      color: #aaa;
      font-weight: 300; }
      .sectionCarrito .carritoVacio a:hover {
        text-decoration: underline; }

.sectionArrepentimiento {
  width: 1300px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sectionArrepentimiento p {
    font-size: 18px;
    padding-bottom: 40px;
    color: #575758; }
  .sectionArrepentimiento #btnArrepentimiento {
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    border: 1px solid #d66140;
    border: 1px solid transparent;
    color: #d66140;
    background: #00000010;
    position: relative;
    font-size: 16px;
    padding: 10px; }
    .sectionArrepentimiento #btnArrepentimiento:hover {
      background: #00000015; }
