
.sectionProductosCategorias{
    width: 1300px;
    margin: 80px auto 0;

    h1{
        color: $letrasOscuras;    
        text-transform: uppercase;
        font-size: 35px;
        position: relative;
        margin-bottom: 60px;
    }

    .contenedorPrincipalCategoria{

        display: grid;
        grid-template-columns: 300px auto;
        grid-template-rows: auto;
        grid-template-areas:"filtros productos";
        gap: 10px;

        .filtros{
            grid-area: filtros;

            div{
                background: #fff;
                border-radius: 5px;
                width: 100%;
                padding: 15px;
                margin-bottom: 20px;

                h2{
                    font-size: 18px;
                    color: $letrasOscuras;
                    margin-bottom: 10px;
                }

                ul{         

                    li{
                        padding: 5px;
                        color: $letrasOscuras;
                        border-bottom: 2px solid transparent;
                        cursor: pointer;
                        border-radius: 5px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        i{
                            font-size: 14px;
                            position: relative;
                            padding: 2px 2px 0 0;
                            color: $letrasClaras;
                        }

                        .fa-dot-circle{
                            color: $colorPrincipal1;
                        }

                        &:hover{
                            background: #00000010;
                        }
                    }
                }
            }
        }

        .contenedorProductosCategoria{
            grid-area: productos;
            display: flex;
            align-items: flex-start;
            align-self: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;

            .producto{
                margin: 0 0 10px;
            }
        }
    }
}