/* Primera sección */

.presentacion {
    width: 1300px;
    margin: 0 auto 60px;

    h1 {
        text-transform: uppercase;
        text-align: center;
        margin: 40px 0;
        color: $letrasOscuras;
    }

    .presentacionGrid {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 200px);
        grid-template-areas: "cocina mate regaleria"
            "baño   mate juguete";

        .categoriasGrid {
            position: relative;
            overflow: hidden;
            border-radius: 5px;
            background: #fff;
            padding: 30px;

            h2 {
                position: relative;
                color: $colorPrincipal2;
                display: inline-block;
                text-transform: uppercase;
                font-weight: 900;

                div {
                    @extend .detalleNaranja;
                }
            }

            img {
                position: absolute;
                pointer-events: none;
            }

            &:hover {
                @extend .sombra;
            }
        }

        .g1 {
            @extend .tarjetasCategorias;
            grid-area: cocina;

            img {
                top: 35px;
                right: -10px;
            }
        }

        .g2 {
            @extend .tarjetasCategorias;
            grid-area: mate;

            .categoriaGridInfo {

                .contenedorSpan {
                    .spanNum {
                        font-size: 35px;
                        display: block;
                    }

                    .spanProduct {
                        font-size: 30px;
                    }
                }
            }

            a {
                font-size: 20px;
            }

            img {
                transform: rotateY(180deg);
                top: 10px;
                right: -20px;
            }

        }

        .g3 {
            @extend .tarjetasCategorias;
            grid-area: regaleria;

            img {
                top: 10px;
                right: 15px;
            }
        }

        .g4 {
            @extend .tarjetasCategorias;
            grid-area: baño;

            img {
                top: 40px;
                right: 10px;
            }
        }

        .g5 {
            @extend .tarjetasCategorias;
            grid-area: juguete;

            img {
                top: 5px;
                right: -25px;
            }
        }
    }

}

/* Seccion productos */

.sectionProductos{
    width: 1300px;
    margin: 60px auto;

    h3{
        position: relative;
        color: $letrasOscuras;     
        margin: 0 0 40px 0;
        font-size: 20px;
        text-transform: uppercase;
    }

    .contenedorProductos{
        display: flex;
        justify-content: space-between;
    }


}

/* Seccion marcas */

.sectionMarcas {
    margin: 0 auto;
    width: 1300px;


    .divMarcas {
        margin: 40px 0;
        border-radius: 5px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: space-around;
        overflow: hidden;
        position: relative;


        h3 {
            text-transform: uppercase;
            color: $letrasOscuras;
            font-size: 25px;
            margin: 0 0;
            text-align: center;
            position: relative;
            z-index: 100;

        }

        .contenedorMarcas {
            display: flex;

            a {
                display: inline-block;
                width: 120px;
                height: 120px;
                margin: 0 20px;

                img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    z-index: 100;
                }


            }

            .rigolleau {
                img {
                    top: -10px;
                }
            }

            .carol {
                img {
                    top: 5px;
                }
            }

            .tramontina {
                img {
                    top: 5px;
                }
            }

        }

        .circulo {
            border: 15px solid $colorPrincipal1;
            border-radius: 50%;
            position: absolute;
            z-index: 0;
            height: 150px;
            width: 150px;
        }

        .c1 {
            left: -70px;
            top: 50px;
        }

        .c2 {
            left: 420px;
            top: -125px;
        }

        .c3 {
            right: -80px;
            top: 70px;
        }
    }
}