/* Variables */

$colorPrincipal1: #d66140;
$colorPrincipal2: #22222c;
$letrasOscuras:#575758;
$letrasClaras: #cecece;

/* mixin */

@mixin btnSitio ($b){
    padding: 5px 10px;
    border-radius: 5px;
    background: $b;
    position: absolute;
    border: 1px solid $colorPrincipal1;
    @if $b == $colorPrincipal1 {
        color: #fff;

    }@else{
        color: $colorPrincipal1;
    }

    &:hover{
        @if $b == $colorPrincipal1 {
            color: $colorPrincipal1;
            background: #fff;
        }@else{
            background: $colorPrincipal1;
            color: #fff;
        }
    
    }
}

/* Extend */


.spanPresentacion{
    font-weight: 400;
    color: $letrasOscuras;
    display: block;
}

.tarjetasCategorias{
    .categoriaGridInfo{
        height: 100%;

        h2{
            font-size: 24px;
        }
                        
        .contenedorSpan{
            margin-top: 15px;

            .spanNum{
                font-size: 25px;
                display: inline-block;
                @extend .spanPresentacion;
            }
            .spanProduct{
                font-size: 20px;
                display: inline-block;
                @extend .spanPresentacion;
            }
        }

        a{
            position: absolute;
            bottom: 30px;
            left: 30px;
            @include btnSitio(#fff);
        }

    }
}

.detalleNaranja{
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 50px;
    background: $colorPrincipal1;
}
.sombra{
    box-shadow: 0 5px 15px #00000020;
}

